node_modules/
dist/
dist-ssr/
client/dist/
server/dist/
.turbo/
.parcel-cache/
.next/
.nuxt/
.output/
.vercel/
build/
coverage/
*.tsbuildinfo
*.log
!.gitkeep
.DS_Store
.env
.env.*
client/.env.*
server/.env.*
uploads/
*.local
*.sqlite
*.db
/.idea/
/.vscode/*
!.vscode/extensions.json
pnpm-debug.log*
yarn-debug.log*
npm-debug.log*

